{% extends "base.html" %}

{% block content %}
{% csrf_token %}
<div class="flex flex-col container max-w-md mt-5 mx-auto w-full items-center justify-center font-medium dark:text-black text-lg">
    Formulir Daftar
</div>
<div class="flex flex-col container max-w-md mt-10 mx-auto w-full items-center justify-center bg-white dark:bg-gray-800 rounded-lg shadow">
    {% for form in forms %}
    <ul class="flex flex-col divide-y w-full">
      <li class="flex flex-row">
        <div class="select-none cursor-pointer  flex flex-1 items-center p-4">
          <div class="flex-1 pl-1">
            <div class="font-medium dark:text-white text-lg">{{ form.pendaftar.user.username }}</div>
            <div class="text-gray-600 dark:text-gray-200 text-md">{{ form.status_pembayaran }}</div>
            {% if form.url_bukti_pembayaran %}
            <button 
                class="text-gray-600 dark:text-gray-200 text-sm focus:outline-none hover:underline"
                onclick="window.location.href='{{ form.url_bukti_pembayaran }}'">
                URL Bukti Pembayaran
            </button>
            {% endif %}
          </div>

          {% if form.status_pembayaran == "Menunggu Konfirmasi" %}
          <div class="flex flex-row justify-center">
            <button 
                class="w-10 text-right flex justify-end" 
                onclick="update('{% url "mentor:update_status_pembayaran" idKelas=form.kelas.id idForm=form.id %}?status=terima')">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="20" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 24 24"><path d="m2.25 12.321 7.27 6.491c.143.127.321.19.499.19.206 0 .41-.084.559-.249l11.23-12.501c.129-.143.192-.321.192-.5 0-.419-.338-.75-.749-.75-.206 0-.411.084-.559.249l-10.731 11.945-6.711-5.994c-.144-.127-.322-.19-.5-.19-.417 0-.75.336-.75.749 0 .206.084.412.25.56" fill-rule="nonzero"/></svg>
            </button>
            <button 
                class="w-10 text-right flex justify-end" 
                onclick="update('{% url "mentor:update_status_pembayaran" idKelas=form.kelas.id idForm=form.id %}?status=tolak')">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="20" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 24 24"><path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/></svg>
            </button>
          </div>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    function update(url) {
        var csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        $(document).ready(function(){
            $.ajax({
                type: 'POST',
                url: url,
                headers: { "X-CSRFToken": csrfToken },
                encode: true,
                success: function(data){
                    console.log(data)
                    location.reload();
                },
                error: function(xhr, textStatus, errorThrown){
                    if (xhr.status == 400) {
                        console.error("Bad Request:", xhr.responseText);
                    } else if (xhr.status == 404) {
                        console.error("Not Found:", errorThrown);
                    } else {
                        console.error("Error:", errorThrown);
                    }
                }
            })
        })
    }

  </script>
{% endblock %}
