{% extends 'base.html' %}

{% block meta %}
<meta name="Register" content="User Registration Page">
{% endblock %}

{% block content %}
<div id="error-message" class="text-red-500 text-sm mt-1"></div>
<div class="w-full h-full container mx-auto my-8 justify-start flex ">

    <form class="max-w-sm mx-auto flex-col items-start gap-2 inline-flex grid md:gap-6 w-full"
        style="align-items:flex-start;" method="post" action="{% url 'authuser:register' %}"
        enctype="multipart/form-data" id="registration-form">
        {% csrf_token %}

        <div class="text-black text-2xl font-medium font-sans">Sign up</div>

        <div id="email-field">
            <label for="id_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Your
                email</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                        <path
                            d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                        <path
                            d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
                    </svg>
                </div>
                <input type="email" id="id_email" name="email"
                    class="bg-gray-50 border border-gray-300 text-white-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" autofocus
                    placeholder="name@flowbite.com" required maxlength="254">
            </div>
            <div id="email-error" class="text-red-500 text-sm mt-1"></div>
        </div>

        <div id="username-field">
            <label for="id_username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">
                Username</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z" />
                    </svg>
                </div>
                <input type="text" id="id_username" maxlength="50" autocapitalize="none" autocomplete="username"
                    required name="username"
                    class="bg-gray-50 border border-gray-300 text-white-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                    placeholder="username">
            </div>
            <div id="username-error" class="text-red-500 text-sm mt-1"></div>
        </div>

        <div id="password-field">
            <label for="id_password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">
                Password</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 330 330">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g id="XMLID_504_">
                                <path id="XMLID_505_"
                                    d="M65,330h200c8.284,0,15-6.716,15-15V145c0-8.284-6.716-15-15-15h-15V85c0-46.869-38.131-85-85-85
                S80,38.131,80,85v45H65c-8.284,0-15,6.716-15,15v170C50,323.284,56.716,330,65,330z M207.481,219.356l-42.5,42.5
                c-2.929,2.929-6.768,4.394-10.606,4.394s-7.678-1.465-10.606-4.394l-21.25-21.25c-5.858-5.858-5.858-15.354,0-21.213
                c5.857-5.858,15.355-5.858,21.213,0l10.644,10.643l31.894-31.893c5.857-5.858,15.355-5.858,21.213,0
                C213.34,204.002,213.34,213.498,207.481,219.356z M110,85c0-30.327,24.673-55,55-55s55,24.673,55,55v45H110V85z"></path>
                            </g>
                        </g>
                    </svg>

                </div>
                <input type="password" id="id_password1" name="password1" autocomplete="new-password" required
                    class="bg-gray-50 border border-gray-300 text-white-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                    placeholder="Password">
            </div>
            <div id="password1-error" class="text-red-500 text-sm mt-1"></div>
        </div>

        <div id="password-2-field">
            <label for="id_password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">
                Password Confirmation</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 330 330">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g id="XMLID_504_">
                                <path id="XMLID_505_"
                                    d="M65,330h200c8.284,0,15-6.716,15-15V145c0-8.284-6.716-15-15-15h-15V85c0-46.869-38.131-85-85-85
                S80,38.131,80,85v45H65c-8.284,0-15,6.716-15,15v170C50,323.284,56.716,330,65,330z M207.481,219.356l-42.5,42.5
                c-2.929,2.929-6.768,4.394-10.606,4.394s-7.678-1.465-10.606-4.394l-21.25-21.25c-5.858-5.858-5.858-15.354,0-21.213
                c5.857-5.858,15.355-5.858,21.213,0l10.644,10.643l31.894-31.893c5.857-5.858,15.355-5.858,21.213,0
                C213.34,204.002,213.34,213.498,207.481,219.356z M110,85c0-30.327,24.673-55,55-55s55,24.673,55,55v45H110V85z"></path>
                            </g>
                        </g>
                    </svg>

                </div>
                <input type="password" name="password2" autocomplete="new-password" required id="id_password2"
                    class="bg-gray-50 border border-gray-300 text-white-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                    placeholder="Re-enter your password">
            </div>
            <div id="password2-error" class="text-red-500 text-sm mt-1"></div>
        </div>

        <div id="role-field">
            <label for="id_role" class="block mb-2 text-sm font-medium text-black">
                Select your Role</label>
            <select id="id_role" name="role"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">

                <option value="1">Mentor</option>
                <option value="2" selected>Mentee</option>
            </select>
        </div>

        <div id="bio-field" class="w-full">
            <label for="id_bio" class="block mb-2 text-sm font-medium text-gray-900">Your bio</label>
            <textarea name="bio" cols="40" rows="10" id="id_bio"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Leave a bio..."></textarea>
            <div id="bio-error" class="text-red-500 text-sm mt-1"></div>
        </div>

        <div id="image-field" class="container flex-col items-center justify-start w-full">

            <label class="block mb-2 text-sm font-medium text-gray-900" for="id_profile_picture">Upload profile
                picture</label>
            <input
                class="block w-full h-8 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50"
                id="id_profile_picture" type="file" accept="image/svg+xml, image/png, image/jpeg, image/gif">
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="profile_picture_help">SVG, PNG, JPG or
                GIF
                (MAX. 800x400px).</p>
        </div>
        <button type="button"
            class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 hover:shadow-gray-90 hover:shadow-xl"
            id="submit-button">Submit</button>

    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('registration-form');
        var submitButton = document.getElementById('submit-button');

        submitButton.addEventListener('click', function () {
            // Retrieve csrf token value
            var csrfTokenField = document.getElementsByName('csrfmiddlewaretoken')[0];
            var csrfToken = csrfTokenField ? csrfTokenField.value : null;

            // Function to display error message
            function displayError(fieldId, errorMessage) {
                var errorField = document.getElementById(fieldId + '-error');
                if (errorField) {
                    errorField.innerText = errorMessage;
                }
            }

            // Retrieve values from input fields
            var emailField = document.getElementById('id_email');
            var email = emailField ? emailField.value : null;
            if (email) {
                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!emailRegex.test(email)) {
                    displayError('email', 'Email is invalid');
                }
            } else if (email === '') {
                displayError('email', 'Email is required');
            }

            var usernameField = document.getElementById('id_username');
            var username = usernameField ? usernameField.value : null;
            displayError('username', username ? '' : 'Username is required');

            var password1Field = document.getElementById('id_password1');
            var password1 = password1Field ? password1Field.value : null;
            displayError('password1', password1 ? '' : 'Password is required');

            var password2Field = document.getElementById('id_password2');
            var password2 = password2Field ? password2Field.value : null;
            if (password1 && password2 && password1 !== password2) {
                displayError('password2', 'Passwords do not match');
            } else {
                displayError('password2', password2 ? '' : 'Password Confirmation is required');
            }

            var roleField = document.getElementById('id_role');
            var role = roleField ? roleField.value : null;
            displayError('role', role ? '' : 'Role is required');

            var bioField = document.getElementById('id_bio');
            var bio = bioField ? bioField.value : null;

            // Check for null or empty values
            if (!email || !username || !password1 || !password2 || !role) {
                console.error('Error: All fields must be filled out.');
                return;
            }

            // Create FormData and append values
            var formData = new FormData();
            formData.append('csrfmiddlewaretoken', csrfToken);
            formData.append('email', email);
            formData.append('username', username);
            formData.append('password1', password1);
            formData.append('password2', password2);
            formData.append('role', role);
            formData.append('bio', bio);

            // Handle profile picture separately
            var profilePictureInput = document.getElementById('id_profile_picture');
            if (profilePictureInput.files.length > 0) {
                formData.append('profile_picture', profilePictureInput.files[0]);
            }

            // Log FormData values
            for (var pair of formData.entries()) {
                console.log(pair[0] + ': ' + pair[1]);
            }

            // Submit the form using the FormData API
            fetch(form.action, {
                method: 'POST',
                body: formData,
            }).then(response => {
                var contentType = response.headers.get('Content-Type');
                if (contentType && contentType.includes('application/json')) {
                    return response.json();
                } else {
                    console.log(response)
                }
            }).then(data => {
                console.log('Success:', data);
                if (data.success) {
                    // Registration successful, redirect to login page
                    window.location.href = '/auth/login/';
                } else {
                    // Display errors to the user
                    console.error('Registration failed:', data.errors);
                    // Handle error display logic here
                    if (data.errors.email) {
                        displayError('email', data.errors.email);
                    }
                    if (data.errors.username) {
                        displayError('username', data.errors.username);
                    }
                    if (data.errors.password1) {
                        displayError('password1', data.errors.password1);
                    }
                    if (data.errors.password2) {
                        displayError('password2', data.errors.password2);
                    }
                    if (data.errors.role) {
                        displayError('role', data.errors.role);
                    }
                    if (data.errors.bio) {
                        displayError('bio', data.errors.bio);
                    }
                    if (data.errors.profile_picture) {
                        displayError('profile_picture', data.errors.profile_picture);
                    }
                }
            }).catch(error => {
                console.error('Error submitting form:', error);
                // Handle other errors here
            });
        });
    });

</script>
{% endblock %}