{% extends 'base.html' %}


{% block content %}
<div class="w-full h-full container mx-auto my-8 flex justify-center">
<div
    class="p-[18px] rounded-[11px] border border-black flex-col justify-start items-start gap-6 inline-flex ">
    <div class="text-black text-xl font-medium font-sans leading-normal">Edit Bio</div>
    <div class="px-3 flex-col justify-center items-start gap-1 flex">
        <form method="post" action="{% url 'UserProfile:profile_edit' username=username %}"
            enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group justify-start">
                {% for field in form %}
                <div class="self-stretch text-black text-sm font-medium font-sans leading-tight">
                    {{ field.label_tag }}
                </div>
                <div
                    class="self-stretch px-3 py-2 rounded-md border border-black border-opacity-10 justify-start items-center gap-1 inline-flex">
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}

                <button class="text-white bg-black rounded-[11px] w-[75px] h-[30px] text-base font-medium font-sans leading-snug" type="submit">Submit</button>
        </form>
    </div>


</div>
</div>
{% endblock %}