{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

<div class="w-[418px] h-[415px] flex-col justify-start items-start gap-[25px] inline-flex">
    <div class="text-black text-4xl font-medium font-sans leading-normal" id="profile-section">Username</div>
    <div class="text-black text-opacity-50 text-2xl font-medium font-sans leading-normal">{{ username }}</div>
    <div class="text-black text-4xl font-medium font-sans leading-normal" id="profile-section">Profile Picture</div>
    <div class="text-black text-opacity-50 text-2xl font-medium font-sans leading-normal"><img src="{{ profile_picture.url }}" alt="Profile Picture" class="w-[200px] h-[200px] rounded-[10px]"></div>
    <div class="text-black text-4xl font-medium font-sans leading-normal" id="profile-section">Email</div>
    <div class="text-black text-opacity-50 text-2xl font-medium font-sans leading-normal">{{ email }}</div>
    <div class="text-black text-4xl font-medium font-sans leading-normal" id="profile-section">Role</div>
    <div class="text-black text-opacity-50 text-2xl font-medium font-sans leading-normal">{{ role }}</div>
    <div class="text-black text-4xl font-medium font-sans leading-normal" id="profile-section">Friend Count</div>
    <div class="text-black text-opacity-50 text-2xl font-medium font-sans leading-normal">{{ friend_count }}</div>
    <div class="text-black text-4xl font-medium font-sans leading-normal" id="profile-section">Bio</div>
    <div class="w-[418px] text-black text-opacity-50 text-2xl font-medium font-sans leading-normal">{{ bio }}</div>

    {% if is_same_person %}
    <div class="flex flex-row justify-center items-center gap-[25px]">
        <a href="/profile/edit" class="bg-[#FFD600] text-black text-opacity-50 text-2xl font-medium font-sans leading-normal px-[25px] py-[10px] rounded-[10px]">Edit Profile</a>
    
    {% endif %}

    {% if is_authenticated and not is_same_person%}

    <div class="flex flex-row justify-center items-center gap-[25px]">
        <a href="/profile/friend" class="bg-[#FFD600] text-black text-opacity-50 text-2xl font-medium font-sans leading-normal px-[25px] py-[10px] rounded-[10px]">Add Friend</a>

    {% endif %}

</div>


{% endblock %}