{% extends 'base.html' %}

{% block title %}SiMentor{% endblock %}

{% block content %}
<div class="w-full flex justify-center my-4">
    <div class="w-full h-[657px] flex-col items-center gap-[30px] inline-flex">
        <div class="flex-col justify-start items-center gap-[31px] flex">
            <div class="w-[563px] h-[77px] relative">
                <div
                    class="w-[563px] h-[77px] left-0 top-0 absolute bg-black rounded-[54px] shadow-gray-90 drop-shadow-xl">
                </div>
                <div
                    class="w-[520px] left-[21px] top-[15px] absolute text-center text-white text-[40px] font-bold font-sans leading-[48px]">
                    Welcome to SiMentor</div>
            </div>
            {% if not user.is_authenticated %}
            <div class="justify-start items-start gap-[50px] inline-flex">
                <div class="w-[202px] h-[81px] relative">
                    <div class="w-[202px] h-[81px] left-0 top-0 absolute rounded-[10px] border-4 border-black"></div>
                    <div
                        class="left-[36px] top-[17px] absolute text-center text-black text-[40px] font-bold font-sans leading-[48px]">
                        Join us</div>
                </div>
                <div class="w-[202px] h-[81px] relative">
                    <div class="w-[202px] h-[81px] left-0 top-0 absolute rounded-[10px] border-4 border-black"></div>
                    <div
                        class="left-[51px] top-[17px] absolute text-center text-black text-[40px] font-bold font-sans leading-[48px]">
                        Login</div>
                </div>
            </div>
            {% endif %}

        </div>

        <div class="p-2.5 flex-col justify-start items-start gap-2.5 flex">
            <div class="flex-col justify-start items-start gap-1 flex">
                <div class="flex-col justify-start items-start gap-1.5 flex">
                    <div class="text-black text-xl font-medium font-sans leading-normal">All Classes</div>
                </div>
                <div class="grid grid-cols-2 md:grid-cols-6 gap-2.5">
                    {% for card_kelas in kelas %}
                    <div class="px-3 py-[7px] rounded flex-col justify-center items-center gap-2 flex">
                        <div class="self-stretch justify-start items-start gap-2 inline-flex">
                            <div
                                class="w-[150px] rounded-md border border-black border-opacity-10 flex-col justify-start items-center inline-flex">
                                <div class="self-stretch h-[150px] justify-start items-start inline-flex">
                                    <img src="https://picsum.photos/seed/simentor{{ card_kelas.judul_kelas }}/150">
                                </div>
                                <div class="self-stretch p-2 flex-col justify-start items-start gap-1 flex">
                                    <div
                                        class="self-stretch h-4 text-black text-base font-medium font-sans leading-normal">
                                        {{ card_kelas.judul_kelas }}</div>
                                        <div
                                        class="self-stretch text-black text-xs font-medium font-sans leading-normal">
                                        oleh {{ card_kelas.mentor_kelas.user.username }}</div>
                                    <div class="self-stretch text-black text-xs font-normal font-sans leading-none">
                                        {{ card_kelas.tanggal_kelas }}</div>
                                    {% if card_kelas.harga_kelas == 0 %}
                                    <div class="self-stretch text-black text-xs font-normal font-sans leading-none">Free
                                    </div>
                                    {% else %}
                                    <div class="self-stretch text-black text-xs font-normal font-sans leading-none">
                                        Rp.{{ card_kelas.harga_kelas }}</div>
                                    {% endif %}
                                    <div class="self-stretch text-black text-xs font-normal font-sans leading-none">
                                        Current student: {{ card_kelas.jumlah_mentee }} /
                                        {{ card_kelas.kapasitas_maksimal }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if is_mentor or is_mentee %}
        <div class="p-2.5 flex-col justify-start items-start gap-2.5 flex">
            <div class="flex-col justify-start items-start gap-1 flex">
                <div class="flex-col justify-start items-start gap-1.5 flex">
                    <div class="text-black text-xl font-medium font-sans leading-normal">Your Classes</div>
                </div>
                <div class="grid grid-cols-2 md:grid-cols-6 gap-2.5">
                    {% for kelas in kelas_saya %}
                    <div class="px-3 py-[7px] rounded flex-col justify-center items-center gap-2 flex">
                        <div class="self-stretch justify-start items-start gap-2 inline-flex">
                            <div
                                class="w-[150px] rounded-md border border-black border-opacity-10 flex-col justify-start items-center inline-flex">
                                <div class="self-stretch h-[150px] justify-start items-start inline-flex">
                                    <img src="https://picsum.photos/seed/simentor{{ kelas.judul_kelas }}/150">
                                </div>
                                <div class="self-stretch p-2 flex-col justify-start items-start gap-1 flex">
                                    <div
                                        class="self-stretch h-4 text-black text-base font-medium font-sans leading-normal">
                                        {{ kelas.judul_kelas }}</div>
                                        <div
                                        class="self-stretch text-black text-xs font-medium font-sans leading-normal">
                                        oleh {{ kelas.mentor_kelas.user.username }}</div>
                                    <div class="self-stretch text-black text-xs font-normal font-sans leading-none">
                                        {{ kelas.tanggal_kelas }}</div>
                                    {% if kelas.harga_kelas == 0 %}
                                    <div class="self-stretch text-black text-xs font-normal font-sans leading-none">Free
                                    </div>
                                    {% else %}
                                    <div class="self-stretch text-black text-xs font-normal font-sans leading-none">
                                        Rp.{{ kelas.harga_kelas }}</div>
                                    {% endif %}
                                    <div class="self-stretch text-black text-xs font-normal font-sans leading-none">
                                        Current student: {{ kelas.jumlah_mentee }} /
                                        {{ kelas.kapasitas_maksimal }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}